In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
file_to_load = os.path.join("Kickstarter_Challenge.xlsx")

kickstarter_df = pd.read_excel(file_to_load)
kickstarter_df

,id,name,blurb,goal,pledged,outcomes,country,currency,deadline,launched_at,...,backers_count,spotlight,Category and Subcategory,percentage funded,average donation,Parent Category,Subcategory,Date Created Conversion,Date Ended,Years
0,0,GIRLS STATE a new musical comedy TV project,"In this new TV show ""All Politics is Vocal"" as...",8500.0,11633.00,successful,US,USD,1437620400,1434931811,...,182,True,film & video/television,137,63.92,film & video,television,2015-06-22 00:10:11,2015-07-23 03:00:00,2015.0
1,1,FannibalFest Fan Convention,A Hannibal TV Show Fan Convention and Art Coll...,10275.0,14653.00,successful,US,USD,1488464683,1485872683,...,79,True,film & video/television,143,185.48,film & video,television,2017-01-31 14:24:43,2017-03-02 14:24:43,2017.0
2,2,Charlie teaser completion,Completion fund for post-production for teaser...,500.0,525.00,successful,GB,GBP,1455555083,1454691083,...,35,True,film & video/television,105,15.00,film & video,television,2016-02-05 16:51:23,2016-02-15 16:51:23,2016.0
3,3,Unsure/Positive: A Dramedy Series About Life w...,We already produced the *very* beginning of th...,10000.0,10390.00,successful,US,USD,1407414107,1404822107,...,150,True,film & video/television,104,69.27,film & video,television,2014-07-08 12:21:47,2014-08-07 12:21:47,2014.0
4,4,Party Monsters,19th centuryâ€™s most notorious literary chara...,44000.0,54116.28,successful,US,USD,1450555279,1447963279,...,284,True,film & video/television,123,190.55,film & video,television,2015-11-19 20:01:19,2015-12-19 20:01:19,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109,4109,Jack the Lad,Jack the Lad - a new play that explores how fa...,500.0,0.00,failed,GB,GBP,1448805404,1446209804,...,0,False,theater/plays,0,0.00,theater,plays,2015-10-30 12:56:44,2015-11-29 13:56:44,NaN
4110,4110,Take Tartuffe to Edinburgh Fringe Festival!,"Set in the height of sex, drugs and rock 'n' r...",300.0,86.00,failed,GB,GBP,1469113351,1463929351,...,6,False,theater/plays,29,14.33,theater,plays,2016-05-22 15:02:31,2016-07-21 15:02:31,NaN
4111,4111,REBORN IN LOVE,REBORN IN LOVE is the sequel to REBORN FROM AB...,3000.0,94.00,failed,US,USD,1424747740,1422155740,...,6,False,theater/plays,3,15.67,theater,plays,2015-01-25 03:15:40,2015-02-24 03:15:40,NaN
4112,4112,"A Great New Controversial Play - ""The Divide"".",Set in Southern America â€œThe Divideâ€ is a ...,2500.0,1.00,failed,IE,EUR,1456617600,1454280186,...,1,False,theater/plays,0,1.00,theater,plays,2016-01-31 22:43:06,2016-02-28 00:00:00,NaN
4113,4113,The Toy Box by Anthony H. Wallace,A family oriented play about Christians & the ...,1500.0,3.00,failed,US,USD,1452234840,1450619123,...,3,False,theater/plays,0,1.00,theater,plays,2015-12-20 13:45:23,2016-01-08 06:34:00,NaN

In [4]:
# Tabulate data in "outcomes" column for "Theater Outcomes by Launch Date"
kickstarter_df["outcomes"].unique()

array(['successful', 'canceled', 'failed', 'live'], dtype=object)

In [5]:
kickstarter_df["outcomes_tabulated"] = np.random.randn(len(kickstarter_df))
kickstarter_df["outcomes_tabulated"]

0      -0.225630
1      -0.553020
2       1.060920
3       1.253679
4       1.665628
          ...
4109    1.547411
4110    0.196182
4111   -0.037075
4112    2.478109
4113   -2.162463
Name: outcomes_tabulated, Length: 4114, dtype: float64

In [7]:
kickstarter_df["outcomes_tabulated"] = kickstarter_df["outcomes"].copy(deep=True)

outcomes_list = ["successful", "failed", "canceled"]

In [8]:
kickstarter_df.loc[kickstarter_df["outcomes_tabulated"] ==  "successful"] = 1
kickstarter_df.loc[kickstarter_df["outcomes_tabulated"] ==  "failed"] = 2
kickstarter_df.loc[kickstarter_df["outcomes_tabulated"] ==  "canceled"] = 3
kickstarter_df.loc[~kickstarter_df["outcomes_tabulated"].isin(outcomes_list)] = 1

kickstarter_df # How did this happen

,id,name,blurb,goal,pledged,outcomes,country,currency,deadline,launched_at,...,spotlight,Category and Subcategory,percentage funded,average donation,Parent Category,Subcategory,Date Created Conversion,Date Ended,Years,outcomes_tabulated
0,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
1,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
2,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
3,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
4,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
4110,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
4111,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
4112,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1
4113,1,1,1,1.0,1.0,1,1,1,1,1,...,1,1,1,1.0,1,1,1,1,1.0,1

In [45]:
for i in range(len(kickstarter_df)):
    if kickstarter_df.loc[i,"outcomes"] == "successful":
        kickstarter_df.at[i,"outcomes_tabulated"] = 1
    elif kickstarter_df.loc[i,"outcomes"] == "failed":
        kickstarter_df.at[i, "outcomes_tabulated"] = 2
    elif kickstarter_df.loc[i,"outcomes"] == "canceled":
        kickstarter_df.at[i,"outcomes_tabulated"] = 3
    else:
        kickstarter_df.at[i,"outcomes_tabulated"] = 0

KeyError: 0

In [27]:
kickstarter_df["outcomes_tabulated"]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4109    2.0
4110    2.0
4111    2.0
4112    2.0
4113    2.0
Name: outcomes_tabulated, Length: 4114, dtype: float64

In [30]:
# Create bins for "Outcomes Based on Goals"
goals = kickstarter_df['goal']
goal_bins = [0, 1000, 4999, 9999, 14999, 19999, 24999, 
    29999, 34999, 39999, 44999, 50000, 100000000]
goal_ranges = ['Less than 1k', '1k-5k', '5k-10k', '10k-15k', '15k-20k', 
    '20k-25k', '25k-30k', '30k-35k', '35k-40k', '40k-45k', 
    '45k-50k', '50k+']

kickstarter_df["Goal Ranges"] = pd.cut(goals, goal_bins, labels=goal_ranges)

c:\Users\ajkri\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if __name__ == '__main__':

In [1]:
kickstarter_df

NameError: name 'kickstarter_df' is not defined